html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./css/firstpage.css
        script
            include ./js/ajax.js
        script
            include ./js/firstpage.js
        title 淘宝网
    body
        header 
            div.headerBox
                div.logoBox
                    img(src="./image/taobaoLogo.png", alt="")
                div.searchBox
                    ul
                        li
                            button#act_goods 宝贝
                        li
                            button#act_tmao 天猫
                        li
                            button#act_shop 店铺
                    section.searchContent
                div.advertising
                    a(href='')

        div.bodier
            - bodier_data1 = bodierdata1 // 拿不到后台数据
            section.pardOfTheOne
                div.bgOrange
                    span.secOneTitle 主题市场
                    div.secOneText
                        ul
                            - for(let i=0;i<bodier_data1.length;i++){
                                - if(bodier_data1[i].text != null){
                                    li
                                        a(href="#{bodier_data1[i].url}") #{bodier_data1[i].text} 
                                - }
                                - if(bodier_data1[i].text == "天猫超市" || bodier_data1[i].text == "兴农扶贫"){
                                    li.sympol 
                                        a |
                                - }
                            - }
                            li(style="float: right")
                                a.hkj_entrance(href="#{bodier_data1[bodier_data1.length-1].url}")
                                    img(src="#{bodier_data1[bodier_data1.length-1].src}")
                       
            
            section.pardOfTheSec
                - bodier_data2 = bodierdata2
                div.bgGray
                    div.left  
                        div.left_top
                            div.left_top_left
                                ul.left_top_left_title
                                    - for(let i=0;i<bodier_data2.length;i=i+3) {
                                        li.left_top_left_line(data-type=(i+1))
                                            a(href="#{bodier_data2[i].url}") #{bodier_data2[i].text} /
                                            a(href="#{bodier_data2[i+1].url}") #{bodier_data2[i+1].text} /
                                            a(href="#{bodier_data2[i+2].url}") #{bodier_data2[i+2].text}
                                    - }
                                div.left_top_left_content
                                    div.ltlContent_left
                                        - for(let i=0;i<3;i++) {
                                            div.ltlContent_left_title
                                                p
                                                    a(href="") 标题
                                                    a(href="") 更多>
                                            ul.ltlContent_left_classify
                                                - for(let j=0;j<35;j++){
                                                    li 
                                                        a(href="") 小标题
                                                - }
                                        - }
                                    div.ltlContent_right
                                        p 猜你喜欢
                                        ul
                                            - for(let i=0;i<6;i++) {
                                                li
                                                    a(href="")
                                                        img(src="", alt="")
                                                        span 猜你喜欢标题

                                            - }

                            div.left_top_right
                                div.left_top_right_top
                                    div.left_top_right_top_left
                                        - bodier_data3 = bodierdata3
                                        div.onelayer
                                            span.left_move <
                                            span.right_move >
                                            ul.bottom_button
                                                - for(let i=0;i<bodier_data3.length;i++) {
                                                    li(data-type=i)
                                                - }
                                        div.twolayer
                                            div.img_box
                                                - for(let i=0;i<bodier_data3.length;i++) {
                                                    a(href="#{bodier_data3[i].url}")
                                                        img(src="#{bodier_data3[i].src}", alt="")
                                                - }
                                    div.left_top_right_top_right
                                        a(href="https://market.m.taobao.com/apps/abs/10/598/6529dc?spm=a21bo.2017.201860.1.5af911d9hTnUY1&scm=20140637.1.62828.261634&wh_weex=true&psId=2188304")
                                            img(src="//img.alicdn.com/imgextra/i2/168/O1CN012z85Eu1D6z5EgY7oT_!!168-0-lubanu.jpg_400x400q90.jpg", alt="")
                                div.left_top_right_bottom
                                    div.left_top_right_bottom_left
                                        - bodier_data4 = bodierdata4
                                        - var bd4_onetype=[],bd4_twotype=[],bd4_threetype=[]
                                        - for(let i=0;i<bodier_data4.length;i++) {
                                            - if(bodier_data4[i].text_num == 1) {
                                                - bd4_onetype.push(bodier_data4[i])
                                            - }else if(bodier_data4[i].text_num == 2) {
                                                - bd4_twotype.push(bodier_data4[i])
                                            - }else if(bodier_data4[i].text_num == 3) {
                                                - bd4_threetype.push(bodier_data4[i])
                                            - }
                                        - }
                                        //- 数据没有完全进入每个数组，需要检查，晚上见
                                        - slide_sum = (1+(bd4_twotype.length+bd4_threetype.length)/2)
                                        div.ltrbl_oneline
                                            p
                                                span 理想生活上天猫
                                                span 
                                                    a.change_sum 1
                                                    /#{slide_sum}
                                        div.ltrbl_twoline
                                            ul
                                                - for(let i=0;i<slide_sum;i++) {
                                                    li(style="width:"+(520/slide_sum)+"px")
                                                - }
                                        div.ltrbl_threeline
                                            div.ltrbl_onelayer
                                                span.left_ltrbl_move <
                                                span.right_ltrbl_move >
                                            div.ltrbl_twolayer
                                                ul
                                                    li.onetype_content
                                                        - for(let i=0;i<bd4_onetype.length;i++) {
                                                            a(href="#{bd4_onetype[i].url}" style=(((i+1)%4 != 0)?"border-right: 1px solid rgba(0,0,0,.1);":"")+(((i+1) < ((i+1)*4))?"border-bottom: 1px solid rgba(0,0,0,.1);":""))
                                                                img(src="#{bd4_onetype[i].src}", alt="")
                                                        - }
                                                    li.twotype_content
                                                        - for(let i=0;i<bd4_twotype.length;i++) {
                                                            a(href="#{bd4_twotype[i].url}")
                                                                img(src="#{bd4_twotype[i].src}", alt="")
                                                        - }
                                                    - for(let i=0;i<bd4_threetype.length;i=i+2) {
                                                        li.threetype_content
                                                            - for(let j=0;j<2;j++) {
                                                                a(href="#{bd4_threetype[i+j].url}")
                                                                    img(src="#{bd4_threetype[i+j].src}", alt="")
                                                            - }
                                                    - }

                                    div.left_top_right_bottom_right
                                        h5 今日特卖
                                        a(href="https://click.mz.simba.taobao.com/ecpm?e=7zVr2La%2BLBkPO53EdXrfSxsQmLP5zomM2MK863t%2B9yfoxUGmwhjR6dwsJ10QgfcwceU9K7a78Vwbf7pB%2FSGtv%2B2rT1hbFjbBtbR9sxq9q4gLhIFrJfzXOZxvsIw%2Biy5zo6U1B4%2Bn6CzHgBRO%2B8bZl8JHgHCgfwNcxfT5yXEjzjOsm903Z8TMwq5VfCUMa5bDq%2BZhxOTu85IEsNk3%2F9ZXkKEzmp3u8BAh8BpLDXW0kuv7Irs34TFVx%2BEjiDtnN%2BGco4mtG%2FjJ9YXJ1ml3%2ByElLr1EP3R9Afflj8G0sy6t5F11QakZRy5DVx7u6KPo1IAiAdAGz3FfznjNRwACtg6qbepL3t250VaVfZYq3wBPKknCL1yOZKIZaxGvnDnvzTYuuzc5FKHDDUwTWvFlEpmQn7ulp8SB9RwOmQedopGqW5F2RG8cdVNpYEyX%2F4hxQi53yDOEi52UCbImW9GQ5R0buvC38IRKvH%2FABGbIM905nz0rPgwdUk4boiyt%2BcWKg%2BlP8IlKMK%2BogiU%3D&u=https%3A%2F%2Fshop276112520.taobao.com&k=525")
                                            img(src="https://img.alicdn.com/simba/img/TB1Zm27XW67gK0jSZFHSuu9jVXa.jpg", alt="")
                    div.right
                        div.onemodule
                            ul
                                li.head_pic
                                    a(href="")
                                        img(src="", alt="")
                                li.person_name name
                                li.activity
                                    - for(let i=0;i<2;i++) {
                                        a(href="") 内容
                                    - }
                                li.purchase_information
                                    - for(let i=0;i<4;i++) {
                                        a(href="")
                                            span 1
                                            h4 待收货
                                    - }
                        div.twomodule
                            - bodier_data7 = bodierdata7
                            a(href="#{bodier_data7[0].url}") #{bodier_data7[0].text}
                            span >
                        div.threemodule
                            - bodier_data8 = bodierdata8
                            - var bd_title = [],bd_cont = []
                            - for(let i=0;i<bodier_data8.length;i++) {
                                - if(bodier_data8[i].text_cont == null){
                                    - bd_title.push(bodier_data8[i])
                                - }else {
                                    - bd_cont.push(bodier_data8[i])
                                - }
                            - }
                            ul.threemodule_title
                                - for(let i=0;i<bd_title.length;i++) {
                                    li
                                        a(href="#{bd_title[i].url}" data-type=i) #{bd_title[i].text}
                                - }
                            ul.threemodule_cont
                                - for(let i=0;i<bd_cont.length;i++) {
                                    li(data-type=bd_cont[i].text_num style='display: none;')
                                        a(href="#{bd_cont[i].url}" style="color:"+(bd_cont[i].text_sign == 1?"orange":"")) #{bd_cont[i].text_cont}
                                - }
                        div.fourmodule
                            - bodier_data9 = bodierdata9
                            - bodier_data9_title = [],bodier_data9_layer = []
                            - for(let i=0;i<bodier_data9.length;i++) {
                                - if(bodier_data9[i].text != null) {
                                    - bodier_data9_title.push(bodier_data9[i])
                                - }else {
                                    - bodier_data9_layer.push(bodier_data9[i])
                                    - console.log(bodier_data9_layer)
                                - }
                                
                            - }
                            ul.fourmodule_title
                                - for(let i=0;i<bodier_data9_title.length;i++) {
                                    li(style="width:"+(290/4)+"px;") 
                                        a(href="#{bodier_data9_title[i].url}")
                                            span(style='background-image: url(https://img.alicdn.com/tfs/TB1tyFSXm_I8KJjy0FoXXaFnVXa-48-1194.png);background-position: '+bodier_data9_title[i].backPosition)
                                            p #{bodier_data9_title[i].text}
                                - }
                            ul.fourmodule_cont
                                - bodier_data9_layer_one = [],bodier_data9_layer_two = [],bodier_data9_layer_three = []
                                - for(let i=0;i<bodier_data9_layer.length;i++) {
                                    - if(bodier_data9_layer[i].text_num == 1) {
                                        - bodier_data9_layer_one.push(bodier_data9_layer[i])
                                    - }else if(bodier_data9_layer[i].text_num == 2) {
                                        - bodier_data9_layer_two.push(bodier_data9_layer[i])
                                    - }else if(bodier_data9_layer[i].text_num == 3) {
                                        - bodier_data9_layer_three.push(bodier_data9_layer[i])
                                    - }
                                - }
                                li.fourmodule_cont_one.show
                                    div.operation
                                        - for(let i=0;i<bodier_data9_layer_one.length;i++) {
                                            span #{bodier_data9_layer_one[i].text_cont}
                                        - }
                                    div
                                        form(action="")
                                            
                                li.fourmodule_cont_two
                                    div.operation
                                        - for(let i=0;i<bodier_data9_layer_two.length;i++) {
                                            span #{bodier_data9_layer_two[i].text_cont}
                                        - }
                                li.fourmodule_cont_three
                                    div.operation
                                        - for(let i=0;i<bodier_data9_layer_three.length;i++) {
                                            span #{bodier_data9_layer_three[i].text_cont}
                                        - }
                                div.closeLayerBtn
                                    span X

                        div.fivemodule
                        






        
        footer
            div#footer
                div#footer_1
                    - footerdata1_data = footerdata1.footerdata1_data
                    - footerdata1_img = footerdata1.footerdata1_img
                    ul
                        - for(let i=0;i<4;i++){
                            li 
                                p #{footerdata1_data[i].title}
                                    img(src='#{footerdata1_img[i]}')
                                div
                                    
                                    -for(let j=0;j<footerdata1_data.length;j++){
                                        -if(footerdata1_data[j].text_type==i+1 && footerdata1_data[j].text != null){
                                            span 
                                                a(href='#{footerdata1_data[j].url}') #{footerdata1_data[j].text} 
                                        -}
                                    -}
                                //- 开始style设置
                        - }
                div#footer_2
                    - footerdata2_data = footerdata2.footerdata2_data
                    ul 
                        -for(let i=0;i<footerdata2_data.length;i++) {
                            li 
                                a(href='#{footerdata2_data[i].url}') #{footerdata2_data[i].text}
                                -if(i != footerdata2_data.length-1 && footerdata2_data[i].text != '虾米') {
                                span |
                                -}
                            -if(footerdata2_data[i].text == '虾米') {
                            br
                            -}
                        -}
                div#footer_3
                    - footerdata3_data = footerdata3.footerdata3_data
                    ul
                        -for(let i=0;i<footerdata3_data.length;i++) {
                            li 
                                a(href='#{footerdata3_data[i].url}') #{footerdata3_data[i].text} 
                        -}
                        span |
                        span © 2003-现在 Taobao.com 版权所有

                div#footer_4
                    - footerdata4_data = footerdata4.footerdata4_data
                    ul 
                        -for(let i=0;i<footerdata4_data.length;i++) {
                            li
                                -if(footerdata4_data[i].url != null) {
                                    a(href='#{footerdata4_data[i].url}') #{footerdata4_data[i].text}
                                        span.symbol |
                                -}else {
                                    span.no_url #{footerdata4_data[i].text}
                                -}
                        -}

                div#footer_5
                    - footerdata5_data = footerdata5.footerdata5_data
                    ul 
                        -for(let i=0;i<footerdata5_data.length;i++) {
                            li
                                -if(footerdata5_data[i].url != null) {
                                    a(href='#{footerdata5_data[i].url}') #{footerdata5_data[i].text}
                                -}else {
                                    span.no_url #{footerdata5_data[i].text}
                                -}
                                -if(i != footerdata5_data.length-1) {
                                    span.symbol |
                                -}
                        -}
                div#footer_6
                    - footerdata6_data = footerdata6.footerdata6_data
                    ul 
                        -for(let i=0;i<footerdata6_data.length;i++) {
                            li
                                -if(footerdata6_data[i].url != null) {
                                    a(href='#{footerdata6_data[i].url}') #{footerdata6_data[i].text}
                                -}else {
                                    span.no_url #{footerdata6_data[i].text}
                                -}
                                -if(i != footerdata6_data.length-1) {
                                    span.symbol |
                                -}
                        -}

                div#footer_7
                    - footerdata7_data = footerdata7.footerdata7_data
                    ul 
                        -for(let i=0;i<footerdata7_data.length;i++) {
                            li
                                a(href='#{footerdata7_data[i].url}' style='#{footerdata7_data[i].style}') 
                        -}



